/* checkbox-custom */
.checkbox {
  padding-left: 0;
  input {
    position: absolute;
    opacity: unset;
    cursor: pointer;
    height: initial;
    width: initial;
  }
  label {
    padding-left: 20px;
  }
}

.radio {
  @extend .checkbox;
}